{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} - Projects{% endblock title %}

{% block css %}

  <link rel="stylesheet" href="{% static 'dist/css/pages/gitsvn/gitsvn.css' %}">

{% endblock css %}

{% block headers %}Projects{% endblock headers %}

{% block headerbuttons %}
{% endblock headerbuttons %}

{% block content %}

<div class="row">

  {% for query in query_set %}

    <div class="row">
      <div class="col-lg-2 col-auto">
       <li> <a href="{{ query.get_absolute_url }}" target="_blank">{{ query.name|capfirst }}</a> </li>
      </div>
    </div>

  {% empty %}
    <li>No data found.</li>
  {% endfor %}

</div>
{% endblock content %}

{% block js %}

  <script src="{% static 'dist/js/pages/gitsvn/gitsvn.js' %}" type="application/javascript"></script>

{% endblock js %}
