{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'dist/img/favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dist/img/favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dist/img/favicon_io/favicon-16x16.png' %}">

  <title>{% block title %}Hello, World!!{% endblock %}</title>

  {% include 'base/css.html' %}

  {% block css %}

  {% endblock css %}
</head>

<body>

  <main>
    <div class="container">
      {% include 'base/navbar.html' %}

      {% include 'base/headers.html' %}

      {% block content %}

      {% endblock content %}
    </div>
  </main>


  {% include 'base/js.html' %}

  {% block js %}{% endblock js %}

  <script>
    var ul = document.querySelector("header>.container>div>ul");
    ul.addEventListener('click', (e) => {
      const et = e.target;
      e.preventDefault();
      const active = document.querySelector(".link-secondary");
      if (active) {
        active.classList.remove("link-secondary");
        active.classList.add("link-dark");
      }
      // add active class to the clicked element
      et.classList.remove("link-dark");
      et.classList.add("link-secondary");
    })
  </script>
</body>

</html>
