{% load static %}

  <div class="toast-container end-0 p-3 position-fixed" style="top: 10%; z-index: 5;"></div>

{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} id="alertID">

  <strong>{{ message.tags|capfirst }}!</strong> {{ message|safe }}
  <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>

</div>
{% endfor %}
{% endif %}
