<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container-fluid">
    {% comment %} <a class="navbar-brand" href="{% url 'home:home_list_view' %}">
      <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24"
        class="d-inline-block align-text-top">
      ...</a> {% endcomment %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-white" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i
              class="fa-solid fa-house"></i> Home</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'home:home_list_view' %}"><i
                  class="bi bi-journals"></i> Dashboard</a></li>
            <li><a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'home:fifa_list_view' %}"><i
                    class="bi bi-journals"></i> FIFA</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown text-decoration-none">
          <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false"
            ><i class="fa-brands fa-git"></i> Git</a>
          <ul class="dropdown-menu dropdown-menu-start mx-0 shadow w-220px">
            <li><a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'git:git_list_view' %}"><i
                  class="fa-brands fa-git"></i> Projects</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'logout' %}"><i
                  class="bi bi-box-arrow-right"></i> TBD</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown text-decoration-none">
          <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false"
            ><i class="fa-solid fa-heart-pulse"></i> Health</a>
          <ul class="dropdown-menu dropdown-menu-start mx-0 shadow w-220px">
            <li><a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'health:health_list_view' %}"><i
                  class="fa-solid fa-heart-pulse"></i> Health</a></li>
            <li><a class="dropdown-item d-flex gap-2 align-items-center" href="#" onclick="javascript:health.triggerFetch('/api/trigger/health/daily/', 'POST')">Trigger Daily</a></li>
          </ul>

        </li>

        <li class="nav-item dropdown text-decoration-none">
          <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false"
            ><i class="nav-icon fas fa-archway"></i> System</a>
          <ul class="dropdown-menu dropdown-menu-start mx-0 shadow w-220px">
            <li><a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'system:system_home' %}"><i
                  class="fa-solid fa-heart-pulse"></i> System</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown text-decoration-none">
          <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false"
            ><i class="nav-icon fas fa-archway"></i> Pages</a>
          <ul class="dropdown-menu dropdown-menu-start mx-0 shadow w-220px">
            <li><a class="dropdown-item d-flex gap-2 align-items-center"  target="_blank" href="http://localhost:8080/"><i
                  class="fa-solid fa-heart-pulse"></i> pgAdmin4</a></li>
          </ul>
        </li>


      </ul>
      <a class="nav-item text-bg-dark text-decoration-none text-white" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions" >
        <i class="fa-solid fa-bars"></i></a>

      <li class="d-flex nav-item dropdown text-decoration-none">
        <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false"
          >{{request.user.get_full_name}}</a>
        <ul class="dropdown-menu dropdown-menu-end mx-0 shadow w-220px">
          <li><a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'admin:index' %}"><i
                class="fa-solid fa-user-doctor"></i> Admin</a></li>
          <li><a class="dropdown-item d-flex gap-2 align-items-center" target="_blank" href="{% url 'api:swagger-ui' %}"><i
                class="fa-solid fa-tape"></i> Api</a></li>
          <li><a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'home:profile_list_view' %}"><i
                class="bi bi-person"></i> Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'logout' %}"><i
                class="bi bi-box-arrow-right"></i> Logout</a></li>
        </ul>
      </li>

    </div>

  </div>
</nav>
