<div class="offcanvas offcanvas-end bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Portal</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
<hr>
  <div class="offcanvas-body">

    <ul>
      <li>Hello, World</li>
      <li>Hello, World</li>
      <li>Hello, World</li>
      <li>Hello, World</li>
      <li>Hello, World</li>
    </ul>

  </div>
</div>
