<div class="col-lg-auto col-auto">
  <button class="bg-dark text-white" type="button" id="triggerTimer" name="save"
    onclick="javascript:dashboard.startTimer(1);">Start</button>
</div>

<div class="col-lg-auto col-auto">
  <div class="small-box bg-dark text-white" id="timer">
    <div id="clockdiv">
      <div>
        <span class="days" id="day">0</span>
        <div class="smalltext">Days</div>
      </div>
      <div>
        <span class="hours" id="hour">0</span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span class="minutes" id="minute">0</span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds" id="second">0</span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
    <p class="small-box-footer" id="timerStatus">Time remaining</p>
  </div>

</div>
