{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} - FIFA{% endblock title %}


{% block headers %}FIFA{% endblock headers %}

{% block headerbuttons %}

<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Rules
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'health:rule_create_view' %}">Create</a></li>
    <li><a class="dropdown-item" href="#" onclick="javascript:health.triggerFetch('/api/trigger/health/daily/', 'POST')">Trigger Daily</a></li>
  </ul>
</div>

{% endblock headerbuttons %}

{% block content %}

  {% include 'fifa/epl_list.html' %}

{% endblock content %}

{% block js %}

  <script src="{% static 'dist/js/pages/home/fifa.js' %}" defer type="application/javascript"></script>

{% endblock js %}
