<div class="col-lg-12 col-12">
  <div class="card">
    <div class="card-header" data-bs-toggle="collapse" data-bs-target="#refreshUsers1">
      <div class="row">
        <div class="col-md-12 bg-light text-right">
          <button type="button" class="btn btn-link float-end" data-bs-toggle="collapse"
            data-bs-target="#refreshUsers" aria-expanded="false" aria-controls="refreshUsers"
            style="text-decoration: none; border: 1px dashed #61affe; ">
            <i class="bi bi-arrows-expand"></i>
          </button>
          <button type="button" class="btn btn-link float-end"
            data-bs-target="#refreshUsers" aria-expanded="false" aria-controls="refreshUsers"
            onclick="javascript:users.getUsers();" style="text-decoration: none; border: 1px dashed #61affe;">
            <i class="bi bi-arrow-clockwise"></i>
          </button>
          <h3 class="float-start">Users</h3>
        </div>
      </div>
    </div>
    <div class="collapse collapse-horizontal" id="refreshUsers">
      <div class="card-body">
          <div id="idUsers"></div>
      </div>
    </div>
  </div>
</div>
